<html>
<head>
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets//main.css">
</head>
<body>
	<header>
		<a href="./">
			<img src="<%= avatar %>" class="header-avater" />
		</a>
		<a href="./">
			<h1 class="header-title"><%= title %></h1>
		</a>
		<ul class="m-nav">
			<li><a href="./">首页</a></li>
		</ul>
  </header>
  <div class="layout">
    <% if (photos.length > 0){ %>
        <div class="album-header">
          <h1 class="album-title"><%= title %></h1>
          <% if (description && description !== '') { %>
            <h2 class="des-title">「 <%= description %> 」</h2>
          <% } %>
        </div>
        <div class="photos" itemscope itemtype="http://schema.org/ImageGallery">
          <% photos.forEach(function(photo){ %>
              <figure class="thumb js-thumb js-photos-thumb" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                  <a class="img-wrap js-img-wrap" href="<%= photo.src %>" itemprop="contentUrl" data-size="<%= photo.size %>" data-curr-size="<%= photo.size %>">
                    <img class="js-image" data-not-lz="true" alt="<%= photo.name %>" src="<%= photo.src %>" src="./img/preloader.gif" itemprop="thumbnail"/>
                  </a>
                  <figcaption itemprop="caption description"><input type="checkbox"></figcaption>
                  <div style="display:none">
                    <% if (photo.exif) {%>
                      <div class="pswp__download_original js-download">
                        <div class="pswp__download_btn js-download-btn">查看原图 (<%= parseInt((photo.exif.size || 0) / 1024) %>K)</div>
                      </div>
                    <% } %>
                    
                  </div>
              </figure>
          <% }) %>
          <% for (var i=0; i < 10; i++) {%>
            <figure class="thumb hide js-photos-thumb"></figure>
          <% } %>
        </div>
        <% } %>
  </div>
  <footer class="footer">
  	<p>Powered by phen-gallery</a></p>
  </footer>
</body>
</html>
